<div class="fondo-modal-imagen oculto animate fadeIn fast"
        [class.oculto]="modalImagenService.ocultarModal">

    <div id="responsive-modal" class="modal fade show"
        tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        style="display: block; padding-right: 15px;">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cargar Imagen</h4>
                    <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <h3>seleccione una imagen</h3>

                    <div class="text-center">
                        <img *ngIf="!imagenTem" [src]="modalImagenService.img" class="img-avatar">
                        <img *ngIf="imagenTem" [src]="imagenTem" class="img-avatar">
                    </div>

                    <input type="file"
                            (change)="cambiarImagen($any($event.target).files[0])">
                    <br>
                    <br>
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" (click)="cerrarModal()" >Cancelar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" (click)="subirImg()" >Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>


